build
dist
MANIFEST
*.pyc
*.egg-info
*.egg
*.pyc
*.pyo
*.swp
*.bak
*.project
*.pydevproject
*.komodoproject
*.metadata
*.settings
*.idea
*.codeintel
*/imn/settings/active.py
*/imn/settings/local.py
*db.sqlite3